<!DOCTYPE html>

<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src='./lib/vue-2.4.0.js'></script>
</head>

<body>
    <div class="container">
        <!-- 分析如何监听到文本框的数据改变 来进行相应操作 -->
        <input type="text" v-model="firstname" @keyup="getFullName">+
        <input type="text" v-model="secondname" @keyup="getFullName">=
        <input type="text" v-model="name">
    </div>
    <script>
         var vm = new Vue({
            el : '.container',
            data : { 
                firstname:'',
                secondname:'',
                name:''
             },
            methods : {
                getFullName(){
                    // this.name = this.firstname + '-' + this.secondname
                    this.name = `${this.firstname} - ${this.secondname}`
                }
             }    
        });
    </script>
</body>

</html>